<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row py-4">
            <div class="col-md-6">
                <p class="text-muted mb-2 font-weight-bold">&copy; 2026 Álvaro</p>
                <ul class="list-unstyled text-muted">
                    <li><i class="fa fa-envelope fa-fw"></i> correo</li>
                    <li><i class="fa fa-phone fa-fw"></i> 600 123 4562</li>
                    <li><i class="fa fa-map-marker fa-fw"></i> direccion</li>
                </ul>
               
            </div>

            <div class="col-md-6 text-md-right">
                <h6 class="title text-muted">Información Legal</h6>
                <ul class="list-unstyled">
                    <li><a href="{% url 'aviso_legal' %}" class="text-muted">Aviso Legal</a></li>
                    <li><a href="{% url 'declaracion_accesibilidad' %}" class="text-muted">Declaración de Accesibilidad</a></li>
                    <li><a href="{% url 'politica_cookies' %}" class="text-muted">Política de Cookies</a></li>
                </ul>
            </div>
        </section>
    </div></footer>
